header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 25px;
    height: 400px;
}

body{
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    height: 18px;
}

h1, h2, h3 {
    font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: .5rem;
}

h1{
    font-weight: 100;
    font-size: 80px;
}

p{
    line-height: 1.43;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.sub-heading {
    width: 50%;
    font-size: 30px;
}

.get-yours-link {
    display: inline-block;
    padding: 5px;
    background-color: #814236;   
    color: white;   
    border: 1px solid #391D18;
}

.get-yours-link:hover {
    color: white;
}

.get-yours-link-mobile {
    display: none;
}

.fa-shopping-cart {
    margin-right: 3px;
}

@media (max-width: 992px) {
    header{
        background-image: linear-gradient(to bottom, #391D18, #814236);
        color: white;  
        padding: 25px;
        height: auto;
    }

    .get-yours-link {
        display: none;
    }

    .get-yours-link-mobile {
        display: block;
        color: white;
        font-size: 24px;
        float: right;
    }

    .sub-heading {
        width: auto;
    }
}

.features-section {
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.features-section h2 {
    text-align: center;
    font-variant: small-caps;
}

.feature {
    height: 250px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    margin-bottom: 10px;
}

.feature svg {
    height: 50px;
    fill: #814236;
}

@media (max-width: 768px) {
    .feature {
        text-align: left;
        height: auto;
    }

    .feature svg {
        float: left;
    }

    .feature-copy {
        padding-left: 60px;
    }
}





.uses-section {
    padding: 15px 0px;
    background-color: #EBEBEB;
}

.uses-section h2 {
    text-align: center;
    font-variant: small-caps;
}

.use {
    height: 300px;
    background-color: white;
    text-align: left;
    padding: 10px;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    margin-bottom: 10px;
}

.use{
    margin: 0;
}

.use img{

    height: 150px;

}

@media (max-width: 992px) {
    .use{
        text-align: left;
        height: auto;
    }

    
}






.testimonials-section {
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.testimonials-section h2 {
    text-align: center;
    font-variant: small-caps;
}

.testimonial {
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
}

.testimonial img {
    border-radius: 50%;
    float: left;
}

.testimonial-copy {
        padding-left: 100px;
    }

.testimonial span {
       font-size: 80%;
       color: #999999;
   }

@media (max-width: 768px) {
    .testimonial {
        text-align: left;
        height: auto;
    }
}


footer {
    height: 200px;
    background-color: #391D18;
    color: #EEEEEE;
    padding: 25px;
}

footer p {
    margin: 10px;
}

.fa-envelope {
    color: #999999;
    font-size: 1.5em;
}

.fa-twitter {
    color: #999999;
    font-size: 1.5em;
}

.fa-facebook {
    color: #999999;
    font-size: 1.5em;
}

.attribution-text a{
    color: #AAAAAA;
    text-decoration: none;
}

.social-links-mobile {
    display: none;
}

@media (max-width: 768px) {
    .social-links-mobile{
        display: inline;
    }

    .social-links {
        display: none;
    }
}


